/*COLOR PALLET*/
/*FONTS*/
.u-mb-sm {
  margin-bottom: 2rem; }

.u-mb-md {
  margin-bottom: 3rem; }

.u-mb-lg {
  margin-bottom: 4rem; }

.u-mb-hlg {
  margin-bottom: 8rem; }

.u-center {
  text-align: center; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 56.25%; } }

body {
  font-family: "Lato", Sans-Serif;
  color: #abb2b7;
  line-height: 1.6; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-weight: 300;
  color: #ecf0f1; }

.heading-1 {
  font-size: 6.5rem;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 1; }

.heading-2 {
  font-size: 3rem;
  letter-spacing: .5rem;
  text-transform: uppercase; }

.heading-3 {
  font-size: 1.8rem; }

.heading-4 {
  font-size: 1.4rem; }

.story__content {
  grid-column: col-start 4/ full-end;
  background-color: #ff4301;
  position: relative;
  overflow: hidden;
  padding: 3rem;
  display: flex;
  flex-flow: column;
  align-items: end;
  justify-content: center; }
  @media only screen and (max-width: 68.75em) {
    .story__content {
      grid-column: full-start / full-end; } }
  .story__content::before {
    content: "\201C";
    display: block;
    position: absolute;
    top: -6rem;
    left: -2rem;
    font-size: 50rem;
    font-family: sans-serif;
    color: #fff;
    opacity: .5;
    line-height: 1; }

.story__heading-container {
  margin-bottom: 2rem; }

.story__heading {
  text-align: right; }

.story__review {
  text-align: right;
  font-size: 1.6rem;
  color: #ecf0f1;
  font-style: italic; }

.story__pictures {
  grid-column: full-start / col-end 3;
  display: grid;
  grid-template-columns: repeat(6, minmax(min-content, 1fr));
  grid-template-rows: repeat(6, minmax(min-content, 1fr));
  align-items: center;
  padding: 3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/story-background.jpg");
  background-size: cover; }
  @media only screen and (max-width: 68.75em) {
    .story__pictures {
      grid-column: full-start / full-end; } }

.story__bg {
  width: 100%;
  height: 100%;
  grid-row: 2 / 6;
  grid-column: 1 / -1;
  object-fit: cover;
  object-position: 100% 100%;
  display: block;
  border-radius: 3px; }

.story__fg {
  z-index: 30;
  width: 105%;
  height: 100%;
  grid-row: 4 / -1;
  grid-column: 3 / -1;
  object-fit: cover;
  object-position: 100% 100%;
  display: block;
  border-radius: 3px; }

.about-us__content {
  grid-column: full-start / col-end 3;
  background-color: #fa7d09;
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  padding: 3rem; }

.about-us__text {
  font-size: 1.6rem;
  color: #ecf0f1; }

.about-us__pictures {
  grid-column: col-start 4/ full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/story-background.jpg");
  background-size: cover; }

.btn-call:link, .btn-call:visited {
  text-decoration: none;
  font-family: inherit;
  color: #ecf0f1;
  background-image: linear-gradient(to right, rgba(250, 217, 97, 0.9), rgba(247, 107, 28, 0.9));
  font-size: 1.8rem;
  border-radius: 100rem;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  backface-visibility: hidden;
  position: relative; }

.btn-call > * {
  display: inline-block;
  transition: all 200ms;
  height: 100%;
  width: 100%; }

.btn-call--visible {
  padding: 1.75rem 8rem; }

.btn-call--invisible {
  position: absolute;
  left: 0;
  top: -100%;
  padding: 1.75rem 0;
  text-align: center; }

.btn-call:hover, .btn-call:active {
  background-image: linear-gradient(to left, rgba(250, 217, 97, 0.9), rgba(247, 107, 28, 0.9));
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }

.btn-call:focus {
  outline: none; }

.btn-call:hover .btn-call--invisible {
  top: 0; }

.btn-call:hover .btn-call--visible {
  transform: translateY(100%); }

.card {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 2rem;
  justify-items: center;
  align-items: start;
  padding: 2rem 1rem; }
  .card__icon {
    width: 8rem;
    height: 8rem;
    fill: #fb973b; }
  .card__para {
    font-size: 1.6rem; }
  .card__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1rem; }

.footer {
  grid-column: full-start / full-end;
  background-color: #1e272e;
  padding: 4rem; }
  .footer__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: start;
    list-style: none;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem; }
  .footer__link:link, .footer__link:visited {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: #636e72;
    text-align: center;
    text-transform: uppercase;
    transition: all 200ms; }
  .footer__link:hover, .footer__link:active {
    color: #fb973b;
    transform: translateY(-3px); }
  .footer__legal {
    font-size: 1.2rem;
    color: #636e72; }

.social {
  margin-right: 4rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: center;
  justify-items: end;
  margin-top: 8rem; }
  .social__link svg {
    height: 2rem;
    width: 2rem;
    fill: #636e72;
    transition: all 200ms; }
    .social__link svg:hover {
      fill: #3b5999; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] minmax(min-content, 19.2rem) repeat(6, [col-start] minmax(min-content, 19.2rem) [col-end]) minmax(min-content, 19.2rem) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: calc(100vh) min-content 40vw 40vw repeat(2, min-content); }
  @media only screen and (max-width: 68.75em) {
    .container {
      grid-template-rows: calc(100vh) min-content; } }

.header {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to bottom, rgba(47, 37, 25, 0.99) 20%, rgba(47, 37, 25, 0.65) 100%), url("./../../img/hero-large.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-content: center;
  justify-content: center; }
  .header__details {
    grid-row: 2 / 4;
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    text-align: center; }

.contact-us {
  grid-column: center-start / center-end;
  margin: 4rem 0;
  padding: 4rem; }
  .contact-us__heading {
    color: #bdc3c7; }
  .contact-us-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    justify-items: center;
    align-items: start; }
  .contact-us__details {
    display: flex;
    align-items: center; }
    .contact-us__details a:link,
    .contact-us__details a:visited {
      text-transform: none;
      transition: all 200ms; }
    .contact-us__details a:hover,
    .contact-us__details a:active {
      transform: scale(1.1); }
  .contact-us__phone-icon {
    fill: #fb973b; }
  .contact-us__facebook-icon {
    fill: #3b5999; }
  .contact-us__phone-icon, .contact-us__facebook-icon {
    height: 6rem;
    width: 6rem;
    margin-right: 2rem; }
  .contact-us__text {
    font-size: 1.6rem; }
    .contact-us__text a:link,
    .contact-us__text a:visited {
      text-decoration: none;
      color: inherit;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      transition: 200ms all;
      text-transform: uppercase;
      backface-visibility: hidden;
      opacity: 1;
      display: block; }
    .contact-us__text a:hover,
    .contact-us__text a:active {
      color: #fb973b;
      border-bottom: 1px solid #fb973b;
      transform: scale(1.03); }

.nav {
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  z-index: 1000;
  transition: background-color 400ms; }
  .nav--light-bar {
    background-color: #fff; }
  .nav__logo {
    flex: 1;
    display: flex;
    align-items: start;
    margin-left: 6rem;
    margin-top: 4rem; }
  .nav__list {
    list-style: none;
    display: flex;
    align-items: start;
    justify-items: center;
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-right: 6rem;
    text-transform: uppercase; }
  .nav__item:not(:last-child) {
    margin-right: 4rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: #bdc3c7;
    transition: all 200ms;
    display: block;
    backface-visibility: hidden;
    opacity: 1; }
  .nav__link--dark:link, .nav__link--dark:visited {
    color: #2d3436; }
  .nav__link:hover, .nav__link:active {
    color: #fa7d09;
    transform: translateY(-3px); }

.features {
  margin: 8rem 0;
  padding: 4rem;
  grid-column: center-start/ center-end; }
  .features__heading {
    color: #bdc3c7;
    font-size: 3.5rem; }
  .features__card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
    align-items: start;
    justify-items: center; }
