.nav {
    z-index: 30;

    position: fixed;
    top: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    // padding: 2rem 4rem;
    display: flex;
    z-index: 1000;
    transition: background-color 400ms;

    &--light-bar {
        background-color: #fff;
        opacity: .9;
    }

    &__logo {
        flex: 1;
        display: flex;
        align-items: start;
        margin-left: 6rem;
        margin-top: 4rem;
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: start;
        justify-items: center;

        font-size: 1.8rem;
        margin-top: 4rem;
        margin-right: 6rem;
        text-transform: uppercase;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-grey-light-2;
            transition: all 200ms;
            display: block;
            backface-visibility: hidden;
            opacity: 1; //firefox
        }

        &--dark:link,
        &--dark:visited {
            color: $color-grey-dark-2;
        }

        &:hover,
        &:active {
            color: $color-tertiary-orange;
            transform: translateY(-3px);
        }
    }
}