.u-mb-sm { margin-bottom: 2rem; }
.u-mb-md { margin-bottom: 3rem; }
.u-mb-lg { margin-bottom: 4rem; }
.u-mb-hlg { margin-bottom: 8rem; }

.u-mt-sm { margin-top: 2rem; }
.u-mt-md { margin-top: 3rem; }
.u-mt-lg { margin-top: 4rem; }
.u-mt-hlg { margin-top: 8rem; }

.u-center { text-align: center; }