/*COLOR PALLET*/
$color-primary: #2f2519;
$color-primary-dark: #0e0b07;
$color-primary-light: #9e7c54;

$color-secondary: #4a3f35;
$color-secondary-light: #98826f;
$color-secondary-dark: #362e27;

$color-tertiary-orange: #fa7d09;
$color-tertiary-orange-light: #fb973b;
$color-tertiary-orange-dark: #cc6404;

$color-tertiary-red: #ff4301;
$color-tertiary-red-light: #ff6934;
$color-tertiary-red-dark: #cd3500;

$color-grey-light-1: #ecf0f1;
$color-grey-light-2: #bdc3c7;

$color-grey-dark-1: #636e72;
$color-grey-dark-2: #2d3436;


/*FONTS*/
$font-main: 'Lato', Sans-Serif;

