.about-us {
    &__content {
        grid-column: full-start / col-end 3;
        background-color: $color-tertiary-orange;
        display: flex;
        flex-flow: column;
        align-items: start;
        justify-content: center;
        padding: 3rem;
    }

    &__header-container {

    }



    &__heading {
        // font-size: 2rem;
    }

    &__text {
        font-size: 1.6rem;
        color: $color-grey-light-1;
    }



    &__pictures {
        grid-column: col-start 4/ full-end;
        background-image: linear-gradient(
            rgba(#000, .6), 
            rgba(#000, .6)), 
            url("../../img/story-background.jpg");
        background-size: cover;
    }
    
}